.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 350px;
  border: 2px solid #ff6700;
  border-radius: 1rem;
  overflow: hidden;
}

.calculator-display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  background-color: black;
}

.element-display-calc{
  padding: 0 1rem;
  font-size: 2rem;
  color: #fff;
}

.element-display-calc-total {
  font-size: 1.5rem;
}

.element-display-result{
  padding: 0 1rem;
  font-size: 1.5rem;
  color: gray;
}

.element-display-result-total {
  color: #fff;
  font-size: 2.5rem;
}

.line-break {
  width: calc(100% - 10%);
  height: 0.1rem;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.calculator-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
}

.elements-childs{
  background-color: black;
  border: none;
  font-size: 1.5rem;
  border-radius: 100%;
  margin: 1rem;
  padding: 0.6rem;
  color: #fff;
  cursor: pointer;

  transition: filter 0.2s;
}

.elements-childs:hover{
  filter: brightness(0.8);
}

.elements-childs:active {
  color: coral;
}

.operations{
  color: #ff6700;
}

.elements-childs:last-child {
  background-color: #ff6700;
  color: #fff;
}

.not-allowed {
  cursor: not-allowed;
}

.not-allowed:hover{
  filter: brightness(1);
}

.not-allowed:active{
  color: #ff6700;
}